@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Lato", sans-serif;
    background-color: #121212;
    color: #f8fafc;
}

.primeira_sessao {
    position: relative;
    height: 960px;
    width: 1510px;
    background-image: url(../img/hero.jpg);
    background-repeat: no-repeat;
    background-size: contain;
}

.conteudo_1 .titulo {
    position: absolute;
    width: 68%;
    left: 15%;
    top: 25%;

    font-family: 'Lato';
    font-style: normal;
    font-weight: bolder;
    font-size: 18px;

    color: #FFFFFF;
}

.conteudo_1 .subtitulo {
    position: absolute;
    width: 30%;
    left: 15%;
    top: 37%;

    font-family: 'Lato';
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
}

.conteudo_1 .botao_1 a {
    position: absolute;
    width: 20%;
    left: 15%;
    top: 50%;

    font-family: 'Lato';
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    color: black;
    text-align: center;

    background: #11D7FF;
    height: 70px;
    box-shadow: 0px 4px 4px rgba(145, 170, 177, 0.25);
    border-radius: 15px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.conteudo_2 {
    position: absolute;
    width: 1513px;
    height: 93px;
    top: 750px;

    font-family: 'Lato';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: black;
    text-align: center;

    background: #11D7FF;

    display: flex;
    align-items: center;
    justify-content: center;
}

.segunda_sessao {
    position: relative;
    padding-top: 120px;


}

.conteudo_3 h2 {
    position: absolute;
    width: 27%;
    left: 15%;
    top: -50px;


    font-family: 'Lato';
    font-style: normal;
    font-weight: 800;
    font-size: 35px;
    line-height: 40px;

    color: #FFFFFF;
}

.conteudo_3 h2 .destaque {
    color: #00A5DB;
}

.conteudo_3 .subtitulo-esquerda {
    position: absolute;
    width: 27%;
    left: 15%;
    top: 50px;

    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 100%;
    color: #FFFFFF;
}

.conteudo_3 .subtitulo-esquerda .destaque {
    color: #00A5DB;
}

.conteudo_3 .subtitulo-direita {
    position: absolute;
    width: 27%;
    right: 15%;
    top: 50px;

    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 100%;
    color: #FFFFFF;
}

.linha-do-tempo {
    position: absolute;
    width: 192px;
    height: 0px;
    left: 639px;
    top: 60px;

    border: 1px solid #FFFFFF;
    transform: rotate(90deg);
}

.destaque-linha {
    position: absolute;
    width: 97px;
    height: 0px;
    left: -1px;
    top: -5px;

    border: 5px solid #00A5DB;
    z-index: 2;
}

.segunda_sessao .Titulo-2 {
    position: absolute;
    width: 50%;
    left: 38%;
    top: 250px;

    font-family: 'Lato';
    font-style: bolder;
    font-size: 15px;
    text-decoration: underline;
    text-decoration-color: #00A5DB;

    color: #FFFFFF;
}

.segunda_sessao .Titulo-2 .destaque {
    color: #00A5DB;
}